<!-- RiffMates/templates/news2.html -->
{% extends "base.html" %} 
{% block title %} {{block.super}}: News {% endblock %}
{% block content %}
<h1 class="text-dark">RiffMates News Advanced</h1>
<table style="width:100%" >
  <tr style='background-color:LightSalmon'>
    <th>Date</th>
    <th>Item</th>
  </tr>
  {% for item in news %}
  <tr style='background-color:{% cycle 'LightGreen' 'LightSalmon' %}' >
    <td>{{item.0|date:"d/m/Y H:i" }}</td><td>{{item.1}}</td>
  </tr>
  {% endfor %}
  </table>
</ul>
{% endblock content %}
